<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>

        {% for i in stok %}
        <tr>
            <th>
                <td>Komoditas</td>
                <td>Stok</td>
            </th>
        </tr>
        <tr>
            <td>
                
                {{i.komoditas}}
            </td>
            <td>
                {{i.stok}}
            </td>
        </tr>
        {%endfor%}
    </table>
    </body>
</html>