<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page{
            size: 'A4';
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
        }
        table, td, th {
            border: 1px solid;
            text-align: center;
            }
        table {
            width: 100%;
            border-collapse: collapse;
            }
    </style>
</head>
<body>

    <h1>Laporan Laba Rugi</h1>
    <h3 style="text-align: center;">{{tanggalmulai}} - {{tanggalakhir}}</h3>
    <table>
        <tr>
            <th>Pendapatan</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td align="left">Penjualan</td>
            <td>Rp. {{ penjualan }}</td>
            <td></td>
        </tr>
        <tr>
            <td align="left">Pendapatan Lain</td>
            <td>Rp. 0 </td>
            <td></td>
        </tr>
        <tr>
            <td align="right">Total Pendapatan</td>
            <td></td>
            <td>Rp. {{ penjualan }}</td>
        </tr>
        <tr>
            <td align="left">Harga Pokok Penjualan</td>
            <td></td>
            <td>Rp. {{ hpp }}</td>
        </tr>
        <tr>
            <td align="left">Laba/Rugi Kotor</td>
            <td></td>
            <td>Rp. {{ labarugi }}</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Beban Usaha</th>
            <th></th>
            <th></th>
        </tr>
        
        <tr>
            <td align="right">Biaya Administrasi</td>
            <td>Rp. {{ administrasi }}</td>
            <td></td>
        </tr>
        <tr>
            <td align="right">Biaya Pemasaran</td>
            <td>Rp. {{ pemasaran }}</td>
            <td></td>
        </tr>
        <tr>
            <th align="left">Total Biaya</th>
            <td></td>
            <td>Rp. {{ totalbebanusaha }}</td>
        </tr>

        <tr>
            <th align="left">Laba Sebelum Pajak</th>
            <td></td>
            <td>Rp. {{ labasebelumpajak }}</td>
        </tr>
        <tr>
            <th align="left">Pajak Penghasilan</th>
            <td>Rp. {{ pajak }}</td>
            <td></td>
        </tr>
        <tr>
            <th align="left">Laba Bersih</th>
            <td></td>
            <td>Rp. {{ lababersih }}</td>
        </tr>
    </table>

</body>

</html>
